  <div class="container" >
    <div id="login-box" class="jumbotron text-center">
      <form class="" action="/redirect" method="post">
          <div class="form-group">
            <p><input class="form-control" type="text" name="user" value="Username"></p>
            <p><input class="btn btn-primary" type="submit" value="Submit"></p>
          </div>
      </form>
    </div>
  </div>
