<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <meta charset="utf-8">
    <title>RushHour</title>
  </head>
  <body>


      <%= yield %>

    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src='/js/bootstrap.js'></script>



  </body>
</html>
